go 1.20

use (
	./app
	./environment
	./requests
	./table
	./view
	./k8sinterface
	./components/theme
	./components/constants
	./components/common
	./components/style
	./components/listviewport
	./components/table
)
