go 1.20

use (
	./app
	./environment
	./requests
	./view
	./k8sinterface
	./components/theme
	./components/constants
	./components/style
	./components/listviewport
	./components/table
	./components/question
	./handleException
)
